@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial;
  text-align: center;
}

.hidden {
  display: none;
}

.slot {
  padding: 10px;
  margin: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.selected {
  background-color: lightgreen;
}

/* Tailwind-powered button */
.btn {
  @apply bg-sky-500 hover:bg-sky-700 text-white px-4 py-2 rounded;
}